<div class="footer">
    <div class="container-fluid" style="text-align: center;">
        <div class="row">
            <div class="col-sm-12 fa-2x">
                <a href="https://github.com/venekamp"><i class="fa fa-github" aria-hidden="true"></i></a>
                <a href="https://nl.linkedin.com/in/venekamp"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                <a href="{{ site.url }}{{ site.baseurl }}/"><i class="fa fa-home" aria-hidden="true"></i></a>
                <a href="{{ site.url }}{{ site.baseurl }}/about/"><i class="fa fa-user-circle" aria-hidden="true"></i></a>
                <a href="{{ site.url }}{{ site.baseurl }}/tags/"><i class="fa fa-tags" aria-hidden="true"></i></a>
                <a href="{{ site.url }}{{ site.baseurl }}/archive/"><i class="fa fa-archive" aria-hidden="true"></i></a>
                <a href="{{ site.url }}{{ site.baseurl }}/feed.xml"><i class="fa fa-rss" aria-hidden="true"></i></a>
            </div>
        </div>
    </div>
</div>
