@import site-colors

.blog-figure
  position: relative
  margin-bottom: 2.5rem

.blog-figure-caption
  position: absolute
  font-size: .9rem
  color: $warm-gray-dark
  bottom: -.5rem

.blog-figure-caption
  .blog-figure-number
    font-weight: 400

.blog-figure-caption
  .blog-figure-text
    font-weight: 300
