/*
 * colours:
 *  - a99b8c
 *  - 655650
 *  - d5cec4
 *  - c7d9e1
 *  - 878080  (header)
 *  - ece8e5  (footer)
 *  - 5b8aa1  (title)
 */
.lineno {
    padding-right: .4em;
    margin-right: .3em;
    background-color: #f5f3f4;
}

.about h1 {
    color: #5b8aa1;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1;
}

.header {
    background-color: #d5cec4;
    height: 12em;
}

.header img {
    max-height: 100%
}

.footer {
    padding-top1em;
    min-height: 8em;
    background-color: #ece8e5;
}

.posts-column {
    max-width: 42em;
    float: none;
    margin: 0 auto;
}

.preliminary {
    font-size: 1.6em;
    font-weight: 100;
    color: #655650;
    margin: .5em auto 0;
    padding: 0 2em;
    text-align: center;
}

.post {
    font-weight: 300;
}

.post-creation {
    position: relative;
    top: 4em;
    left: -8em;
    width: 7em;
    text-align: right;
    border-right: 1px solid #5b8aa1;
    padding-right: .25em;
    color: #4e433e;
}

.post-year {
    display: block;
    font-size: 1.2em;
    font-weight: 100;
}

.post-date {
    display: block;
    font-size: .8em;
    font-weight: 400;
}

.post-time {
    display: block;
    font-weight: 300;
    font-size: .65em
}

.post h1 a {
    font-size: 1.8rem;
    font-weight: 600;
    margin-top: 1em;
    color: #5b8aa1;
}

.post-body h2 {
    font-size: 2rem;
    font-weight: 400;
}

.post-body h3 {
    font-size: 1.6rem;
    font-weight: 400;
}

.parallax-container {
    height: 12em;
    width: 100%;
    background: transparent;
}

/*
#social-links {
    width: 60px;
    position: fixed;
    bottom: 0;
    right: 1em;
    background-color: #eee;
}
*/
#social-links {
    display: block;
    width: 60px;
    height: auto;
    position: fixed;
    bottom: 0px;
    right: 1em;
}


#social-links img {
    display: block;
    margin: 1em auto;
}

.about {
    margin-top 2em;
    padding-top 2em;
}

.extra-vspace {
    margin-top: 3em;
}

.footer .logo {
    display: inline-block;
    margin: .33em 1em;
}
