<!DOCTYPE html>
<html lang="en">
    {% include head.html %}
    <body>
		{% include header.html image="simple.jpeg" width="1080" height="210" %}

		<div class="container-fluid content" style="margin-top: 4rem;">
			<div class="row">
				<div class-"col-sm-12">
					<i class="fa fa-archive fa-3x" aria-hidden="true"></i>	
				</div>
			</div>
		</div>

		<div class="container-fluid">
			<div class="row">
				<div class-"col-sm-12">
					{{ content }}
				</div>
			</div>
		</div>

        {% include footer.html %}
        {% include jquery %}
        {% include bootstrap %}
        {% include parallax %}
    </body>
</html>
