<!DOCTYPE html>
<html lang="en">
    {% include head.html %}
    <body>
        {% include header.html image="simple.jpeg" width="1080" height="210" %}

        {{ content }}
        <div id="social-links">
            <a href="https://github.com/venekamp/" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
            <a href="https://nl.linkedin.com/in/venekamp" target="_blank"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
        </div>

        {% include footer.html %}
        {% include jquery %}
        {% include bootstrap %}
        {% include parallax %}
        <script src="{{ site.url }}/javascripts/keepabove.js"></script>

        <script>
            $("#social-links").keepAboveElement({ "tripPoint": $(".footer").offset().top });
        </script>
    </body>
</html>
