<!DOCTYPE html>
<html lang="en">
    {% include head.html %}
    <body>
        <div class="parallax-container" data-parallax="scroll" data-position="top" data-bleed="10" data-image-src="{{ site.url }}/images/simple.jpeg" data-natural-width="1080" data-natural-height="210"></div>
        <div class="content" style="margin-top: 2rem;">
{{ content }}
        </div>

        {% include footer.html %}
        {% include jquery %}
        {% include bootstrap %}
        {% include parallax %}
    </body>
</html>
