<!DOCTYPE html>
<html lang="en">
    {% include head.html %}
    <body>
        <div class="parallax-container" data-parallax="scroll" data-position="top" data-bleed="10" data-image-src="{{ site.url }}/images/simple.jpeg" data-natural-width="1080" data-natural-height="210"></div>
        <div class="content" style="margin-top: 2rem;">
{{ content }}
        </div>
<div class="footer">
    <div class="container-fluid" style="text-align: center;">
        <div class="row">
            <div class="col-sm-6">
                <p class="rss-subscribe">subscribe <a href="/feed.xml">via RSS</a></p>
            </div>
            <div class="col-sm-6">
                <a href="about/">About</a>
            </div>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js" integrity="sha384-3ceskX3iaEnIogmQchP8opvBy3Mi7Ce34nWjpBIwVTHfGYWQS9jwHDVRnpKKHJg7" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/js/bootstrap.min.js" integrity="sha384-BLiI7JTZm+JWlgKa0M0kGRpJbF2J8q+qreVrKBC47e3K6BW78kGLrCkeRX6I9RoK" crossorigin="anonymous"></script>
<script src="{{ site.url }}/javascripts/parallax.min.js"></script>
<script>
$('.parallax-container').parallax();
</script>

    </body>
</html>
